@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5;
  color: #2C2738;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #7C9CBF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #7C9CBF;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #7C9CBF;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7C9CBF;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #7C9CBF;
}

::placeholder { /* Most modern browsers support this now. */
  color: #7C9CBF;
}
*, a:focus {

  outline: none !important;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
